.collapse {
    width: 75%;
    margin: 0 0 20px 0;
    background-color: #f6f6f6;
    border-radius : 10px;
}

.collapse100 {
    width: 100%;
    margin: 0 0 20px 0;
    background-color: #f6f6f6;
    border-radius : 10px;
}

.content {
    padding: 10px 10px;
    margin: 0;
    color: #ff6060;
    
}

.list {
    padding: 10px 10px;
    color: #ff6060;
    margin: 0;
}

.containerOpen {
    margin: 10px;
}

.collapse_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #ff6060;
    color : white;
    height: 50px;
    font-weight: 500;
    font-size: 18px;
    padding: 0px 10px;
    border-radius: 10px;
    margin: 0;
}

.fleche {
    width: 15px;
}

