header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 50px;
}

.logo {
    height: 60px;
}

nav{
    display: inline-flex;
    flex-direction: row;
    gap: 50px;
}

.lien {
    color: #ff6060;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}

.lienActif {
    color: #ff6060;
    font-size: 24px;
    font-weight: 500;
    text-decoration: underline;
}