header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px ;
}

.logo {
    height: 3em;
}

nav{
    display: inline-flex;
    flex-direction: row;
    gap: 50px;
}

.lien, .lienActif {
    color: #ff6060;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}

.lienActif {
    text-decoration: underline;
}

@media (max-width : 768px) {
    header {
        margin: 30px 0px;
    }
    .lien, .lienActif {
        font-size: 15px;
    }
    nav{
        gap:10px
    }
}